/* Override default style and set padding and margin to nothing */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header, footer, intro {
    background-color: #F41F4E;
}

body {
    background-color: 
    #FCC0C5;
}

/*header */

.logo {
    color: #FBFBFB;
    display: flex;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 100px;
}

/* No styling on list items */
.main-nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: white;
    
}

/*main*/
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
}

/*footer */
footer {
  display: flex;
  color: #FBFBFB;      
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 15px;
}

/* All images must not be larger than parent container */
img {
    width: 100%;
  }