/* Override default style and set padding and margin to nothing */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.intro-container, header, footer,.quote  {
    background-color: #F41F4E;
}

body {
    background-color: 
    #FCC0C5;
    font-size: 18px;
    

}
/*header */
.logo {
    color: #FBFBFB;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 430px;
    padding-top: 20px;
}

.main-nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: white;    
}
/*footer*/

footer {
    display: flex;
    color: #FBFBFB;      
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 3%;
}

/*main*/
.main {
    padding: 3%;
    min-height: auto;
}
.intro-container {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}
.placeholder {
    color: white;
    background-color: black;
    padding: 110px 130px; 
}
/*images*/



/*quote*/


.quote {
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 50px;
    font-size: 25px;
}
#author {
    align-self: flex-end;
}
/*signup*/
.signup {
    padding: 100px;
    display: flex;
    justify-content: space-around;

}

/*buttons*/
#button1, #button2 {
    background-color: white;
    font-size: 15px;
    padding: 5px 12px;
    border-radius: 8px;
    color: black;
    
}
#button1 {
    margin-top: 10px;
}


